html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 48pt;
    margin: 0;
}

h2 {
    font-size: 36pt;
    margin: 0 0 50px 0;
}

h3 {
    font-size: 16pt;
    margin: 0 0 50px 0;
}

h1, h2, h3, a {
    font-weight: 600;
}

h4 {
    font-size: 12pt;
    font-weight: normal;
    margin: 0;
}

.first-block {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 2;
}

.big-text {
    margin-bottom: 50px;
    white-space: nowrap;
}

.text {
    font-family: Geometria, sans-serif;
    color: #231f20;
}

.btn-container {
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 30px;
    background: #ffffff url("../images/button_1.png") left / 100% auto  no-repeat;
}

a {
    position: relative;
    font-size: 14pt;
    background: none;
    border: none;
    padding: 8px 40px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

a:before, a:after {
    --btn-border-height: 35%;
    position: absolute;
    left: 0;
    height: var(--btn-border-height);
    width: 100%;
    border: solid 2px;
    content: "";
}

a:before {
    top: 0;
    border-bottom: none;
}

a:after {
    top: calc(100% - var(--btn-border-height));
    border-top: none;
}

.img-container {
    display: flex;
    align-items: center;
    position: relative;
    top: -7%;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 80%
    /*min-width: 800px;*/
    /*flex-wrap: wrap;*/
    /*width: 800px;*/
    /*flex-shrink: 0;*/
    /*max-width: 900px;*/
    /*min-width: 800px;*/
}

.img-container img {
    position: absolute;
    width: 100%;
}

@keyframes soaring {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50px);
    }
}

.img-wallet {
    animation: soaring 3s ease-in-out infinite alternate;
}

@keyframes approaching {
    from {
        opacity: 1;
    }
    to {
        opacity: .4;
    }
}

.img-shadow {
    animation: approaching 3s ease-in-out infinite alternate;
}

.second-block {
    padding: 100px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}

.column-list div {
    min-width: 280px;
    margin-bottom: 20px;
}

.icon-container {
    display: inline-block;
    position: relative;
}

.icon-container * {
    vertical-align: middle;
    display: inline-block;
}

.icon-container img {
    padding-right: 15px;
}

@media screen and (max-width: 623px) {
    h1 {
        font-size: 24pt;
    }

    h2 {
        font-size: 18pt;
    }

    h3 {
        font-size: 10pt;
    }

    .first-block {
        height: auto;
    }

    .first-block, .second-block {
        padding: 50px 30px;
    }

    .first-block-text {
        width: 100%;
    }

    .img-container {
        display: none;
    }

    .column-list div {
        width: 100%;
    }
}

@media (min-width: 624px) and (max-width: 911px) {
    .first-block, .second-block {
        padding-left: 70px;
    }

    .first-block-text {
        width: 80%;
    }

    .img-container {
        display: none;
    }

    .column-list div {
        width: 49%;
    }
}

@media (min-width: 912px) and (max-width: 1199px) {
    .first-block {
        padding-left: 50px;
    }

    .left-content {
        left: 8%;
    }

    .second-block {
        padding-left: calc(50px + 8%);
    }

    .first-block-text {
        width: 95%;
    }

    .img-container {
        width: 90%;

    }

    .column-list div {
        width: 49%;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 60pt;
    }

    h2 {
        font-size: 48pt;
    }

    .first-block {
        padding-left: 13%;
    }

    .left-content {
        left: 8%;
    }

    .second-block {
        padding-left: 21%;
    }

    .first-block-text {
        width: 70%;
    }

    .img-container {
        /*left: 0;*/
        width: 80%;

    }

    .column-list div {
        width: 33%;
    }
}