html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.first-block {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 100px;
}

.first-block-text {
    --first-block-width: 50%;
    width: var(--first-block-width);
}

.text {
    font-family: Geometria, sans-serif;
    color: #231f20;
}

h1 {
    font-size: 32pt;
    margin: 0 0 50px 0;
}

h2 {
    font-size: 24pt;
    margin: 0 0 40px 0;
}

h3 {
    font-size: 16pt;
    margin: 0 0 50px 0;
}

h1, h2, h3, a {
    font-weight: 600;
}

h4 {
    font-size: 12pt;
    font-weight: normal;
}

.btn-container {
    display: inline-block;
    padding-bottom: 15px;
    padding-right: 30px;
    background: #ffffff url("../images/button_1.png") left / 100% auto  no-repeat;
}

a {
    position: relative;
    font-size: 14pt;
    background: none;
    border: none;
    padding: 8px 40px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

a:before, a:after {
    --btn-border-height: 35%;
    position: absolute;
    left: 0;
    height: var(--btn-border-height);
    width: 100%;
    border: solid 2px;
    content: "";
}

a:before {
    top: 0;
    border-bottom: none;
}

a:after {
    top: calc(100% - var(--btn-border-height));
    border-top: none;
}

.img-container {
    --imgs-size: 50%;
    width: var(--imgs-size);
    height: 100%;
    position: absolute;
    top: -12%;
    left: 45%;
}

.img-container img, .img-wallet {
    position: absolute;
    left: 0;
    width: 100%;
}

.img-wallet {
    top: calc(var(--imgs-size) * 0.06);
}

.second-block {
    padding: 100px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}

.column-list div {
    width: 33%;
}

.icon-container {
    display: inline-block;
    position: relative;
}

.icon-container * {
    vertical-align: middle;
    display: inline-block;
}

.icon-container img {
    padding-right: 15px;
}