html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1, h2, h3, a {
    font-weight: 600;
}

h1 {
    font-size: 48px;
    margin: 0 0 64px 0;
}

h2 {
    font-size: 40px;
    margin: 0 0 48px 0;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 64px 0;
}

h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}

.first-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 2;
}

.text {
    font-family: Geometria, sans-serif;
    color: #231f20;
}

.img-container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 80%;
}

.img-container img {
    position: absolute;
    width: 100%;
}

@keyframes soaring {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50px);
    }
}

.img-wallet {
    animation: soaring 3s ease-in-out infinite alternate;
}

@keyframes approaching {
    from {
        opacity: 1;
    }
    to {
        opacity: .4;
    }
}

.img-shadow {
    animation: approaching 3s ease-in-out infinite alternate;
}

.btn-container {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 144px;
    height: 35px;
}

.btn-container img {
    position: absolute;
    top: 3px;
    left: 5px;
    width: 168px;
    height: 39px;
    opacity: 0.77;
    z-index: 1;
}

a {
    position: absolute;
    left: 0;
    font-size: 14px;
    background: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    z-index: 2;
    line-height: 35px;
}

a:before, a:after {
    position: absolute;
    left: 0;
    width: 100%;
    border: solid 2px;
    content: "";
}

a:before {
    top: 0;
    border-bottom: none;
}

a:after {
    bottom: 0;
    border-top: none;
}

.second-block {
    padding: 100px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}

.icon-container {
    display: inline-block;
    position: relative;
    margin-bottom: 32px;
}

.icon-container * {
    vertical-align: middle;
    display: inline-block;
}

.icon-container img {
    padding-right: 24px;
}

@media screen and (max-width: 623px) {
    h1 {
        font-size: 32px;
        margin-bottom: 48px;
        width: 286px;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 32px;
    }

    h3 {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 48px;
    }

    h4 {
        font-size: 14px;
    }

    .first-block {
        padding: 48px 36px 82px 36px;
    }

    .second-block {
        padding: 48px 0 64px 36px;
    }

    .first-block-text {
        width: 100%;
    }

    a:before, a:after {
        height: 14px;
    }


    .img-container {
        display: none;
    }

    .icon-container {
        margin-bottom: 24px;
    }

    .icon-container > h4 {
        width: 216px;
    }
}

@media (min-width: 624px) and (max-width: 911px) {
    .first-block {
        padding: 80px 96px 127px 96px;
    }

    .second-block {
        padding: 80px 0 112px 96px;
    }

    .first-block-text {
        width: 80%;
    }

    a:before, a:after {
        height: 12px;
    }

    .img-container {
        display: none;
    }

    .icon-container > h4 {
        width: 168px;
    }

    .icon-container {
        margin-right: 48px;
    }
}

@media (min-width: 912px) and (max-width: 1199px) {
    .first-block {
        padding: 220px 0 252px 80px;
    }

    .second-block {
        padding: 80px 0 112px 80px;
    }

    a:before, a:after {
        height: 11px;
    }

    .img-container {
        top: -80px;
        left: -18%;
        width: 90%;
    }

    .img-container img {
        width: 160%;
    }

    .first-block-text {
        width: 90%;
    }

    .icon-container > h4 {
        width: 288px;
    }

    .icon-container {
        margin-right: 72px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 72px;
        margin-bottom: 64px;
    }

    h2 {
        font-size: 56px;
        margin-bottom: 48px;
    }

    h3 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 64px;
    }

    h4 {
        font-size: 18px;
    }

    .first-block {
        padding: 216px 0 228px 384px;
    }

    .second-block {
        padding: 80px 0 112px 384px;
    }

    .first-block-text {
        width: 70%;
    }

    .btn-container {
        width: 192px;
        height: 42px;
    }

    .btn-container img {
        width: 216px;
        height: 47px;
    }

    a {
        font-size: 16px;
        line-height: 42px;
    }

    a:before, a:after {
        height: 15px;
    }

    .img-container {
        top: -100px;
        left: -12%;
        width: 80%;
        min-width: 50%;
    }

    .img-container img {
        width: 100%;
    }

    .icon-container > h4 {
        width: 216px;
    }

    .icon-container {
        margin-right: 96px;
    }
}